.acc-item {
  list-style: none;
}
.acc-item > * {
  pointer-events: none;
}

.acc-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  font-size: 1.2em;
  cursor: pointer;
}

.acc-content {
  margin-bottom: 5px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
