.acc-item {
  list-style: none;
}
.acc-item *:first-child > * {
  pointer-events: none;
}

.acc-item *:first-child {
  cursor: pointer;
}

.acc-content {
  margin-bottom: 5px;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}
